@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model List<Category>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>ALL OF CATEGORIES</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in Model)
                            {
                                <tr>
                                <td>@i.CategoryId</td>
                                <td>@i.Name</td>
                                <td>@i.Description</td>
                                <td>
                                        <a href="/Admin/EditCategory?categoryId=@i.CategoryId" class="btn btn-primary">Edit</a>
                                </td>
                                <td>
                                        <form action="/Admin/DeleteCategory?categoryId=@i.CategoryId" method="POST">
                                        <input type="hidden" name="category_id">
                                        <button type="submit" name="delete_category_btn" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>