@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model Brand
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header">
                        <h4>EDIT BRAND<a href="/Admin/AllBrands" class="btn btn-primary float-end ">BACK</a></h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Admin/EditBrand" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="brandId" value="@Model.BrandId">
                                <label for=""><b>Brand Name</b></label>
                                <input type="text" id="full-name" required value="@Model.Name" name="brand_name" placeholder="Please enter brand name" class="form-control">
                            </div>
                            <input type="hidden" name="add_brand_btn" value="true">
                            <div class="col-md-12">
                                <br>
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>