@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
<script src="./assets/js/tinymce.min.js" referrerpolicy="origin"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>EDIT BLOG</h4>
                </div>
                <div class="card-body">
                    <form action="/Admin/EditBlog" method="POST" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-12">
                                <label for=""><b>Title</b></label>
                                <input type="text" id="title" required name="title" placeholder="Please enter name of blog" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label for=""><b>Description</b></label>
                                <input type="text" id="description" required name="description" placeholder="Please enter description of blog" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label for=""><b>Image</b></label>
                                <input type="file" required name="image" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label class="mb-0"><b>Small content</b></label>
                                <textarea type="text" style="height: 150px" required name="small_content" placeholder="Please enter small content of blog" class="form-control mb-2"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label for=""><b>Content</b></label>
                                <textarea name="content" id="myTextarea" style="height: 500px"></textarea>
                            </div>
                            <input type="hidden" name="add_blog_btn" value="true">
                            <div class="col-md-12">
                                <br>
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
