@{
    ViewData["Title"] = "Verification code send";
    Layout = "~/Views/Shared/Layout_Index/_Layout_Index.cshtml";
}
<h2 style="text-align:center; padding:40px">VERIFICATION CODE SEND</h2>
<div class="container" style="display: flex;justify-content: space-evenly;flex-wrap: nowrap;flex-direction: row;align-content: stretch;align-items: stretch;">
    <div class="content">
        <form action="/Account/VerifyCodeSend" method="post">
            <input type="hidden" name="userid" value="@TempData["USERID"]">
            <div>
                <table class="table table-light table-borderless">
                    <tr>
                        <th>VERIFICATION CODE</th>
                        <td>
                            <div class="input-box">
                                <input type="text" name="verifycode" style="width:250px;" required placeholder="Please enter code in your email">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button" style="text-align: center;">
                <input type="submit" value="CONFIRM" style="padding: 10px 20px; background-color: burlywood; border: none;">
            </div>
        </form>
    </div>
</div>