
@model List<Product>
@if (Model != null && Model.Count>0)
{
    <div class="col-12 pb-1">
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>
    </div>
    @foreach (var i in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="../templates/img/imgProduct/@i.ImageUrl" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="/Cart/addToCart?ProductId=@i.ProductId&Quantity=1&Color="><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="/Product/ProductDetail?ProductId=@i.ProductId"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">@i.Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$@i.CurPrice</h5><h6 class="text-muted ml-2"><del>$@i.DisPrice</del></h6>
                    </div>
                </div>
            </div>
        </div>
    }

}
else
{
    <h1>Not Product Contains by Filter!</h1>
}
