@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout_Index/_Layout_Index.cshtml";
    var listcolor = ViewBag.Listcolor as List<Color>;
}
@model List<Product>
@if (TempData["LoginSuccess"] != null)
{
    <div id="login-success-message">@TempData["LoginSuccess"]</div>
}
<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="../templates/img/carousel-1.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Mobile</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Final project of .Net technology subject at Ton Duc Thang University</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="../templates/img/carousel-2.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Laptop</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Final project of .Net technology subject at Ton Duc Thang University</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="../templates/img/carousel-3.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">TV</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Final project of .Net technology subject at Ton Duc Thang University</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Products Start -->
@if(Model != null)
{
    var index = 0;
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative-1 text-uppercase mx-xl-5 mb-4" style="text-align:center;"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        @foreach (var i in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="../templates/img/imgProduct/@i.ImageUrl" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="/Cart/addToCart?ProductId=@i.ProductId&Quantity=1&Color=@listcolor[index].Name"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/Product/ProductDetail?ProductId=@i.ProductId"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">@i.Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@i.CurPrice</h5><h6 class="text-muted ml-2"><del>$@i.DisPrice</del></h6>
                        </div>
                    </div>
                </div>
            </div>
            index++;
        }
    </div>
</div>
<!-- Products End -->
}
<div>
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            var loginSuccess= document.getElementById("login-success-message");
            if (loginSuccess) {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(loginSuccess.textContent);
                e.preventDefault();
            }
        });
    </script>
</div>