<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> @ViewData["Title"] - ELECTRIC STORE</title>
    <link href="../templates/css/login/style_login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="title">LOGIN</div>
        <div class="content">
            <form action="/Login/Index" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="username" placeholder="Enter your username" required>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
    @RenderBody()
</body>
</html>