<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> @ViewData["Title"] - ELECTRIC STORE</title>
    <link href="../templates/css/login/style_login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
</head>
<body>
    @if (TempData["LoginFailed"] != null)
    {
        <div id="login-failed-message" data-login-failed="@TempData["LoginFailed"]"></div>
    }
    <div class="container">
        <div class="title">LOGIN</div>
        <div class="content">
            <form action="/Account/Login" method="post" id="login-account">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="username" placeholder="Enter your username" required>
                    </div>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="LOGIN">
                </div>
                <div style="text-align:right; margin-bottom:30px">
                    <a href="/Account/ForgotPassword">Forgot password?</a>
                </div>
                <div style="text-align:center">
                    <span>Don't have an account? </span>
                    <a href="/Account/Register">Register</a>
                </div>
            </form>
        </div>
    </div>
    @RenderBody()
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            var loginFailed = document.getElementById("login-failed-message");
            if (loginFailed) {
                var data = loginFailed.getAttribute("data-login-failed");
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(data);
                e.preventDefault();
            }
        });
    </script>

</body>
</html>