<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"] - ELECTRIC STORE</title>
    <link href="../templates/css/register/style_register.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
</head>
<body>
    <div class="container">
        <div class="title">REGISTER</div>
        <div class="content">
            <form action="/Register/Index" method="post" id="register-account">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">FullName</span>
                        <input type="text" name="fullname" placeholder="Enter your fullname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">UserName</span>
                        <input type="text" name="username" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" id="InputEmail" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" id="phoneNumber" name="phone" placeholder="Enter your phone number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" name="address" placeholder="Enter your address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" id="InputPassword" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" id="CInputPassword" name="confirmpassword" placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="REGISTER">
                </div>
            </form>
       </div>
    </div>
    @RenderBody()
    <script>
    document.getElementById("register-account").addEventListener('submit',function(e){
            let password1 = document.getElementById("InputPassword").value;
            let password2 = document.getElementById("CInputPassword").value;
            let phoneNumber = document.getElementById("phoneNumber").value;
        if (phoneNumber.length > 10 || phoneNumber.length < 10) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Số điện thoại không hợp lệ');
            e.preventDefault();
        }else if (password1 != password2) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Mật khẩu chưa khớp');
            e.preventDefault();
        }else if (password1.length <= 6) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Vui lòng nhập mật khẩu nhiều hơn 6 kí tự');
            e.preventDefault();
        }
    })
</script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</body>
</html>